.museum{
    width: 1920px;
    height: 6245px;
    outline: 3px solid darkred; /*see that later*/
}

/*header styles*/
.header_container{
    width: 1440px;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: azure;
    height: 200px;
    padding: 20px;
}

.header_highliter {
    /*border: 5px solid blue;*/
    outline: 3px solid darkred; /*see that later*/
    /*width: 100%;*/
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation div {
    margin-right: 20px;
}

.navigation div:last-child {
    margin-right: 0px;
}

.logo_text{
    width: 125px;
    height: 50px;
    left: 70px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    /* identical to box height, or 179% */
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.buttons
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 63px;
}

.red_button
{
    padding: 15px 39px 17px 38px;
    border-radius: 25px;
    background-color: darkred;
    color: #ffffff;
    margin-right: 17px;
    text-decoration: none;
}





/*main styles*/

.content{
    height: 5556px;
    width: 1440px;
    margin: 0 auto;
}

.main_highliter {
    /*border: 5px solid blue;*/
    outline: 3px solid darkblue; /*see that later*/
    /*width: 100%;*/
    /*height: 2000px;*/
}

.welcome_section{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 750px;
    /*padding: 20px*/
}

.welcome_text{
    color: #FFFFFF;

}

.virtual_tour{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*background-color: #ffffff;*/
    /*justify-content: space-between;*/
    align-items: center;
    height: 1115px;
    outline: 3px solid darkred;
    /*padding: 20px*/
    margin-left: 200px;
    margin-right: 200px;
}

.tour_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    outline: 3px solid blueviolet;
}

.tour_card{
outline: 3px solid darkred;
}










/*footer styles*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}


.footer_highliter {
    /*border: 5px solid blue;*/
    outline: 3px solid green; /*see that later*/
    /*width: 100%;*/
    height: 200px;
}





